# macOS system files
.DS_Store

# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Jupyter checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Results or output folders
models/
datasets/
